EXPO_PUBLIC_API_URL=http://10.0.2.2:3001
EXPO_APP_NAME=Control Finance
EXPO_SLUG=control-finance-mobile
EXPO_SCHEME=controlfinance
EXPO_IOS_BUNDLE_ID=com.jrvalerio.controlfinance
EXPO_ANDROID_PACKAGE=com.jrvalerio.controlfinance
EXPO_OWNER=
EAS_PROJECT_ID=
